.about-me-section {
	background-position: top;
	padding-bottom: 3em;
	@include mediaMobile {
		background-position: 70%;
		padding-top: calc(3 * #{$mobile-margin});
	}
}

.about-me-content {
	width: percentage(6/10);
	@include mediaMobile {
		width: percentage(9/10);
	}
}

.about-me-description {
	padding-bottom: 2em;
}

.hidden-list {
	max-height: 0;
	overflow: hidden;
	margin-bottom: 4em;
	transition: max-height 1s ease-in-out;
}

.show-content {
	&:hover {
		.small-title {
			&:after {
				animation: up-and-down-with-rotate 1s infinite;
			}
		}
	}
	&.content-shown {
		&:hover {
			.small-title {
				&:after {
					transform: rotate(0deg);
					animation-name: up-and-down;
				}
			}
		}
		& + .hidden-list {
			max-height: 100vh;
		}
	}
}

.small-title {
	padding-right: 3em;
	position: relative;
	&:after {
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		width: calc(var(--headerSmallFontSize) * 1.5);
		height: var(--headerSmallFontSize);
		background-image: url(../img/more.png);
		background-repeat: no-repeat;
		background-size: auto 100%;
		transform: rotate(180deg);
		transform-origin: 50% 50%;
	}
}

@keyframes up-and-down {
	to {
		transform: translateY(20%);
	}
}

@keyframes up-and-down-with-rotate {
	to {
		transform: translateY(20%) rotate(180deg);
	}
}
