.contact-section {
	min-height: 100vh;
	background: black;
	padding-bottom: calc(4 * var(--column-gap));
	@include mediaMobile {
		padding-top: calc(3 * #{$mobile-margin});
		padding-bottom: calc(3 * #{$mobile-margin});
	}

	[type=text], [type=email], textarea, .button, [type=submit] {
		margin: 0;
	    padding: .6em 1em;
	    border: $default-border;
	    border-radius: 0;
	    width: 60%;
	    -webkit-appearance: none;
	    outline: 0;
	    resize: none;
	    background: transparent;
	    &::-webkit-input-placeholder {
		  color: black;
		}
		&::-moz-placeholder {
		  color: black;
		}
		&:-ms-input-placeholder {
		  color: black;
		}
		&:-moz-placeholder {
		  color: black;
		}
		&:placeholder {
		  color: black;
		}
		@include mediaMobile {
		    width: 100%;
		}
	}

	[type=submit] {
		width: 100%;
		cursor: pointer;
		position: relative;
		z-index: 1;
	}

	form {
		p {
			&:last-of-type {
				@include bordered-item;
	    		@include boxed-item;
	    		width: 30%;
		    	margin-left: 30%;
		    	margin-bottom: 2em;
		    	z-index: 0;
		    	@include mediaMobile {
	    		    width: calc(100% * 2 / 5);
    				margin-left: calc(100% * 3 / 5);
		    	}
			}
		}
	}

	div.wpcf7 {
		.ajax-loader {
			@include box-with-bg;
			position: absolute;
			top: 0;
			transform: translateX(-100%);
			transition: transform .5s;
			&.is-active {
				animation: left-to-right 1s infinite;
			}
			@keyframes left-to-right {
				to {
					transform: translateX(100%);
				}
			}
		}
	}
}

.contact-additional-info {
	position: relative;
	width: 60%;
	padding-left: calc(3 * var(--paragraphMediumFontSize));
	&:before {
		content: "";
		background-image: url(../img/pin.svg);
		background-repeat: no-repeat;
		background-size: 100%;
		width: calc(1.5 * var(--paragraphMediumFontSize));
		height: 100%;
		position: absolute;
    	left: 0;
	}
	@include mediaMobile {
		width: 100%;
	}
}

div.wpcf7-mail-sent-ok, div.wpcf7-validation-errors {
	border: none;
	padding: 0;
    margin-left: 0;
    margin-right: 0;
    color: red;
}

div.wpcf7-validation-errors {
    color: red;
}

div.wpcf7-validation-errors {
    color: $gray-dark;
}

.wpcf7-display-none {
	display: block;
}
