.cover-section {
	min-height: 100vh;
	@include gradient-half-color(white, $gray);
	display: flex;
	flex-direction: column;
	@include mediaMobile {
		background: white;
		padding: 0 $mobile-margin;
	}
}

.cover-apla {
	padding: 0 calc(2 * var(--column-gap));
	margin-bottom: calc(4vw + 2rem);
	@include gradient-half-color($gray-dark, white);
	@include clearfix;
	flex-grow: 1;
	@include mediaMobile {
		background: $gray-dark;
		padding: 0;
		margin-bottom: 0;
	}
}

.cover-image, .cover-title, .cover-description {
	width: percentage(1/2);
}

.cover-image {
	float: left;
	padding-left: calc(4 * var(--column-gap));
	transform: translateY(4vw);
	@include mediaMobile {
		float: right;
		width: 80%;
		margin-top: calc(2 * #{$mobile-margin});
		padding-left: 0;
		transform: none;
	}
}

.cover-title, .cover-description{
	float: right;
	padding-left: calc(2 * var(--column-gap));
	@include mediaMobile {
		width: 100%;
		text-align: center;
		background: white;
		padding-left: 0;
	}
}

.cover-title {
	padding-top: calc(4 * var(--column-gap));
	margin-top: calc(2 * var(--column-gap));
	@include mediaMobile {
		padding-top: calc(2 * #{$mobile-margin});
		margin-top: 0;
	}
}

.cover-description {
	padding-bottom: 4rem;
	@include mediaMobile {
		padding-top: .5em;
		padding-bottom: 0;
		width: calc(100% + 2 * #{$mobile-margin});
	    margin-left: calc(-1 * #{$mobile-margin});
	    float: none;
	}
}

.arrow-container {
	text-align: center;
	@include mediaMobile {
		clear: both;
		background: white;
		width: 100%;
    	margin-left: 0;
	}
}

.scroll-arrow {
	padding: 2rem 0;
}