.edu-achive-section {
	padding: 4rem 0;

	.show-content {
		display: block;
		text-align: center;
		.small-title {
			display: inline-block;
		}
	}
}

.edu-achive-intro, .edu-achive-list {
	width: calc(100% - 4 * var(--paragraphMediumFontSize));
	margin: 0 auto;

	@include mediaMobile {
		width: 100%;
	}
}

.edu-achive-intro {
	text-align: center;
	padding-bottom: 4rem;

	a {
		@include bordered-item;
		overflow: visible;

		&:after {
			transform: translateX(-50%);
			width: 100%;
			transition: background .5s, height .5s;
			z-index: -1;
		}

		&:hover {
			&:after {
				background: $gray-dark;
				height: 100%;
			}
		}
	}
}

.edu-achive-list {
	padding: 0 calc(2 * var(--paragraphMediumFontSize));
	margin-bottom: 2em;
}

.edu-achive-field-title {
	padding-right: 0;
	text-align: center;
	&:after {
		content: none;
	}
}

.edu-achive-outro {
	display: flex;
	@include mediaMobile {
		flex-direction: column;
	}
}

.edu-achive-outro-image-wrapper {
	width: percentage(1/4);
	position: relative;

	@include mediaMobile {
		width: 100%;
	}

	img {
		@include centerXY;
		width: 100%;
		padding-right: 2rem;
		@include mediaMobile {
			position: static;
			transform: none;
			padding: 0 calc(2 * #{$mobile-margin});
		}
	}
}

.edu-achive-outro-description {
	width: percentage(3/4);
	@include mediaMobile {
		width: percentage(4/4);
		text-align: center;
	}
}

