.help-section, .how-therapy-looks-like-section, .offert-section {
    background-position: left top, left bottom;
}

.help-section, .how-therapy-looks-like-section {
	background-size: 100% calc(50% + 3rem), 100% calc(50% - 3rem);
    padding-bottom: calc(3 * var(--paragraphMediumFontSize));
    @include mediaMobile {
    	padding-bottom: 0;
    }
}

.help-section {
	background-image: linear-gradient(to right, white, white 50%, $gray 50%, $gray), 
		linear-gradient(to right, $gray, $gray 50%, white 50%, white);
	@include mediaMobile {
		background: white;
	}
}

.how-therapy-looks-like-section {
	background-image: linear-gradient(to right, $gray, $gray 50%, white 50%, white), 
		linear-gradient(to right, white, white 50%, $gray 50%, $gray);
	@include mediaMobile {
		background: white;
	}
}

.offered-help-title, .how-therapy-looks-like-title, .offert-title {
	width: percentage(1/2);
	@include mediaMobile {
		width: 100%;
		padding-bottom: calc(2 * #{$mobile-margin});
	}
}

.how-therapy-looks-like-title {
	text-align: right;
    margin-left: 50%;
    @include mediaMobile {
		margin-left: 0;
	}
}

.offered-help-description, .how-therapy-looks-like-description {
	background: white;
}

.offered-help-description {
	@include one-side-border(right);
}

.how-therapy-looks-like-description {
	@include one-side-border;
}

.offert-description {
	@include one-side-border(right, bottom);
}
