.offered-aspects-section {

    background-position: center;
    color: white;
    text-align: center;
    padding-bottom: 3em;

    @include mediaMobile {
    	padding-top: calc(3 * #{$mobile-margin});
    }

}

.offered-aspects-list {

	display: flex;
    flex-wrap: wrap;

	@include clearfix;

	@include mediaMobile {
		flex-direction: column;
    	align-items: center;
	}

	.single-aspect {
		float: left;
		width: percentage(1/3);
		padding: 0 calc(2 * var(--paragraphMediumFontSize));

		@include mediaMobile {
	    	float: none;
			width: percentage(1/2);
			margin-bottom: 4rem;
	    }

		figure {
		    height: 100%;
		    display: flex;
		    flex-direction: column;
		    justify-content: center;
		}
	}

	.aspect-icon {
		padding: 0 4rem;
		flex-grow: 1;
	}

}