.offert-section {
	padding-bottom: calc(5 * var(--paragraphMediumFontSize));
	background-image: linear-gradient(to right, $gray, $gray 50%, white 50%, white), 
		linear-gradient(to right, white, white 50%, white 50%, white);
	background-size: 100% calc(100% - 7 * var(--paragraphMediumFontSize)), 100% calc(7 * var(--paragraphMediumFontSize));
	@include mediaMobile {
		background: white;
		padding-bottom: 0;
	}
}

.offert-description {
	display: flex;
	padding-left: 0;
	padding-right: 0;
	padding-bottom: calc(2 * var(--paragraphMediumFontSize));
	&:after {
		height: calc(100% - 4 * var(--paragraphMediumFontSize));
	}
	@include mediaMobile {
		flex-direction: column;
		&:after {
			height: 100%;
		}
	}
}

.offert-content, .offert-bg-image {
	width: percentage(1/2);
	@include mediaMobile {
		width: percentage(1/1);
	}
}

.offert-content {
	padding-left: calc(2 * var(--paragraphMediumFontSize));
	padding-right: calc(2 * var(--paragraphMediumFontSize));
	padding-bottom: calc(3 * var(--paragraphMediumFontSize));
	margin-top: calc(4 * var(--paragraphMediumFontSize));
	background: white;
	@include mediaMobile {
		margin-top: 0;
		z-index: 1;
	    background: none;
	    padding-top: calc(3 * #{$mobile-margin});
	}
}

.offert-bg-image {
	background-size: cover;
	background-repeat: no-repeat;
	@include mediaMobile {
		height: 100%;
	    position: absolute;
	    z-index: 0;
	    opacity: .4;
	}
}