$default-border: 1px solid black;

$column-gap: 1vw;

$mobile-margin: 5vw;

:root { 

    @include mediaAboveMobile {
    	--column-gap: $column-gap;
    }

    @include mediaMobile {
        --column-gap: $column-gap;
    }

}
