html {
	font-size: var(--defaultFontSize);
	font-family: 'Nunito', sans-serif;
}

p, div.wpcf7-mail-sent-ok, div.wpcf7-validation-errors, .hidden-list li {
	@include fontParagraph;
}

.menu-item {
	@include fontMediumParagraph;
	&.logo {
		@include fontLargeParagraph;
	}
}

.medium-title {
	@include fontHeaderMedium;
}

.aspect-name, input[type=text], input[type=email], input[type=submit], textarea, .button, .small-title {
	@include fontHeaderSmall;
}

.contact-title, .small-title {
	@include fontUppercase;
}

.aspect-name {
	padding-bottom: 0;
}

input[type=text], input[type=email], input[type=submit], textarea, .button {
	font-family: 'Nunito', sans-serif;
}
