:root { 
    @include mediaAboveMobile {
    	--defaultFontSize: 1vw;
        --headerBigFontSize: 8rem;
        --headerMediumFontSize: 2.5rem;
        --headerSmallFontSize: 1.5rem;
        --paragraphFontSize: 16px;
        --paragraphMediumFontSize: 20px;
        --paragraphLargeFontSize: 37px;
    }
    @include mediaTablet {
        --defaultFontSize: 1vw;
        --headerBigFontSize: 8rem;
        --headerMediumFontSize: 3rem;
        --headerSmallFontSize: 2rem;
        --paragraphFontSize: calc(16px * 1.1);
        --paragraphMediumFontSize: 20px;
        --paragraphLargeFontSize: 37px;
    }
    @include mediaMobile {
        --defaultFontSize: 1vw;
        --headerBigFontSize: 8rem;
        --headerMediumFontSize: 6rem;
        --headerSmallFontSize: 4rem;
        --paragraphFontSize: calc(16px * 1.1);
        --paragraphMediumFontSize: 20px;
        --paragraphLargeFontSize: 37px;
    }
}

@mixin fontUppercase() {
    text-transform: uppercase;
    letter-spacing: .15em;
}
    
@mixin fontSmoothing {
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
}

@mixin fontParagraph {
    font-size: var(--paragraphFontSize);
    line-height: 1.4em;
    padding-bottom: 1em;
}

@mixin fontMediumParagraph {
    font-size: var(--paragraphMediumFontSize);
}

@mixin fontLargeParagraph {
    font-size: var(--paragraphLargeFontSize);
}

@mixin fontHeaderBig() {
    font-size: var(--headerBigFontSize);
}

@mixin fontHeaderMedium() {
    font-size: var(--headerMediumFontSize);
    line-height: 1.2em;
    padding-bottom: 1em;
    padding-top: 2em;
    @include mediaMobile {
        padding-top: 0;
        padding-bottom: .5em;
    }
}

@mixin fontHeaderSmall() {
    font-size: var(--headerSmallFontSize);
    padding-bottom: 2em;
}
