@import "compass/reset";

html, body {
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
    &:focus {
        outline: none;
    }
}

a {
    color: inherit;
    cursor: pointer;
    display: inline-block;
    outline: 0;
    text-decoration: none;
}

button {
    border: none;
    padding: 0;
}

input {
    outline: 0;
}

button {
	background: transparent;
    cursor: pointer;
	&:focus {
		outline:0;
	}
}