$mobileBreakpoint: 599px;
$tabletBreakpoint: 850px;

$largeDesktopBreakpoint: 1200px;

@mixin mediaAll {
    @media screen and (min-width: 0px) {
        @content;
    }
}

@mixin mediaAboveMobile {
    @media screen and (min-width: #{$mobileBreakpoint + 1}) {
        @content;
    }
}

@mixin mediaMobile {
    @media screen and (max-width: $mobileBreakpoint) {
        @content;
    }
}

@mixin mediaTablet {
    @media screen and (max-width: $tabletBreakpoint) {
        @content;
    }
}

@mixin mediaLargeDesktop {
    @media screen and (min-width: $largeDesktopBreakpoint) {
        @content;
    }
}