<link rel="icon" type="image/png" sizes="228x228" href="src/theme/img/coast-228x228.png">
<link rel="icon" type="image/png" sizes="32x32" href="src/theme/img/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="src/theme/img/favicon-16x16.png">
<link rel="shortcut icon" href="src/theme/img/favicon.ico">