.main-header {
	position: absolute;
	z-index: 100;
    top: 0;
    width: 100%;
	padding: 2em 0 4em;

	@include mediaMobile {
		position: static;
		padding-bottom: calc(2 * #{$mobile-margin});
		@include clearfix;
		&:before {
			content: "";
			width: 10%;
			height: 5rem;
			background-image: url(../img/menu.svg);
			background-repeat: no-repeat;
			background-position: center;
			background-size: auto 100%;
			position: fixed;
    		right: 5%;
    		z-index: 100;
		}
		.menu-item {
			width: calc(100%/3);
			&.logo, a {
				width: 100%;
			}
		}
		&.opened {
			&:before {
				background-image: url(../img/x.svg);
			}
			.menu {
				transform: translateY(0);
			}
		}
	}

	.menu {

		display: flex;
		align-items: center;
  		justify-content: space-between;

  		@include mediaMobile {
		    position: fixed;
		    top: 0;
		    background: white;
		    width: 100%;
		    margin-left: -5%;
		    flex-direction: column;
		    height: 100vh;
		    justify-content: center;
		    transform: translateY(-100%);
		    transition: transform .5s ease-out;
		    z-index: 99;
		}

	}

	.menu-item {

		float: left;
		text-transform: lowercase;
		text-align: center;

		&.logo {
			padding: 0 0 .3em;
		}

		@include mediaMobile {
			padding-top: 1em;
			padding-bottom: 1em;
		}

		a {
			padding: .5em;
			@include bordered-item;
		}

		&.current-menu-item {
			
			a {
				border: $default-border;
				@include boxed-item;
			}

		}

	}

}

.logo {
	
	@include bordered-item;

	&.menu-item {
		text-transform: capitalize;
		@include mediaMobile {
			padding: 0 0 .3em;
		}
	}

	&:after {
		transform: translateX(-50%);
	}

	@include mediaMobile {
		@include centerX;
		position: relative;
		margin-top: 8rem;
		&:after {
			width: 25%;
		}
	}

}
