@mixin side-padding($amount: 1) {
	padding-left: calc(#{$amount} * var(--column-gap));
	padding-right: calc(#{$amount} * var(--column-gap));
}

@mixin gradient-half-color($start-color, $stop-color) {
	background-image: linear-gradient(to right, $start-color, $start-color 50%, $stop-color 50%, $stop-color);
}

@mixin item-not-indend($side, $count) {
	margin-#{$side}: calc(-1 * #{$count} * var(--column-gap));
}

@mixin one-side-border($side: left, $position: top, $color: $gray-dark) {
	position: relative;
	padding: 0 calc(2 * var(--paragraphMediumFontSize));
	padding-#{$position}: calc(3 * var(--paragraphMediumFontSize));
	&:before, &:after {
		content: "";
		position: absolute;
		background: $gray-dark;
		z-index: 98;
	}
	&:before {
		#{$position}: 0;
		left: 0;
		width: 100%;
		height: calc(2 * var(--paragraphMediumFontSize));
	}
	&:after {
		#{$position}: 0;
		#{$side}: calc(-2 * var(--paragraphMediumFontSize));
		width: calc(2 * var(--paragraphMediumFontSize));
		height: 100%;
	}
	@include mediaMobile {
		padding: 0;
		padding-#{$position}: calc(3 * #{$mobile-margin});
		padding-#{$side}: calc(3 * #{$mobile-margin});
		&:before {
			height: calc(2 * #{$mobile-margin});
		}
		&:after {
			width: calc(2 * #{$mobile-margin});
			#{$side}: 0;
		}
	}
}

@mixin boxed-item {
	position: relative;
	&:after {
		@include box-with-bg;
	}
}

@mixin bordered-item {
	position: relative;
	overflow: hidden;
	&:after {
		content: "";
		width: 50%;
		height: 1px;
		bottom: 0;
		background: black;
		@include centerX;
		transform: translateX(-300%);
		transition: transform .5s;
	}

	&:hover {
		&:after {
			transform: translateX(-50%);
		}
	}
}

@mixin box-with-bg {
	width: calc(100% + 1px);
	height: 100%;
	background: $gray-dark;
	z-index: -1;
	left: calc(50% - 1px);
}
