*::selection {
    background-color: $gray-dark; 
}

body {
	position: relative;
	padding-top: 12rem;
	@include gradient-half-color($gray, white);
	&.home {
		@include gradient-half-color(white, $gray);
		@include mediaMobile {
			background: white;
		}
	}
	&.page-o-mnie {
		background: white;
	}
	@include mediaTablet {
		padding-top: 20rem;
	}
	@include mediaMobile {
		padding-top: 0;
		background: white;
	}
}

.rohnka-section {
    background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	@include mediaMobile {
		margin-bottom: calc(3 * #{$mobile-margin});
		&:last-of-type {
			margin-bottom: 0;
		}
	}
}

.page-content {
	position: relative;
	width: 74%;
	max-width: $largeDesktopBreakpoint;
	margin: 0 auto;
	@include mediaTablet {
	    width: 90%;
	}
}

.mobile {
	display: none;
	@include mediaMobile {
		display: block;
	}
}

.desktop {
	@include mediaMobile {
		display: none;
	}
}